*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    color: #ededed;
    background: #03070a;
}

.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #1e1e23;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideright .5s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slidetop .5s ease forwards;
}

.navbar a:hover{
    color: #0ef;
}

.home{
    position: relative;
    width: 100%;
    justify-content:space-between;
    height: 100vh;
    background: url(image/coverphoto.jpg) no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content{
    max-width: 600px;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    animation: slidebottom 1s ease forwards;
   
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    animation: slideleft 2s ease forwards;
   
}

.home-content p{
    font-size: 20px;
    opacity: 0;
    animation: slideleft 1s ease forwards;
    
}

.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    animation: slideright 1s ease forwards;
    
}

.home-sci a:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    animation-delay: 1s;
    animation: slidetop 1s ease forwards;
}

.btn-box:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 150px cyan, 0 0 200px cyan
}

.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1,5rem;
}

.about-img img{
    padding-bottom: 20%;
    max-width: 630px;
    height: auto;
    width: 100%;
    border-radius: 8px;
}

.about-text h2{
    font-size: 60px;
}

.about-text h2 span{
    color: #0ef;
}

.about-text h4{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

#service{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}

.sub-title span{
    color: #0ef;
} 

.container{
    padding: 90px;

}

.service-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.service-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 20px #ededed,
    1px 1px 40px #b3b3b3

}

.service-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.service-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.service-list div a{
    color: #000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.read{
    display: inline-block;
    padding: 12px 20px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}

.me{
    display: inline-block;
    height: 500px;
    width: 500px;
    border-radius: 400px;
    margin-left: 60px;
    margin-top: 60px;
}

.bar{
    font-size: 23px;
    text-align: center;
}

.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    margin-bottom: 50px;
}

.bar{
    font-size: 23px;
}

.Technica-bars .bar{
    margin-top: 40px 0;
}
@keyframes slideright {
   0% {
    transform: translateX(-100px);
    opacity: 0;
   }
   100% {
    transform: translate(0px);
    opacity: 1;
   }  
}

.main-text{
    padding-top: 130px;
    margin-top: 200px;
}

.main-text h2{
    font-size: 60px;
    line-height: 1;
    text-align: center;
}

.main-text h2 span{
    color: #0ef;
} 

.portfolio-content{
    display: flex;
    gap:20px ;  
}

.row1{
    position: relative;
    overflow: hidden;
    border-radius: 8px ;
    cursor: pointer;
    display: inline-block;
    width: 900px;
}
.

.row2{
    position: relative;
    overflow: hidden;
    border-radius: 8px ;
    cursor: pointer;
    display: inline-block;
    
    width: 900px;
    
}

.row3{
    position: relative;
    overflow: hidden;
    border-radius: 8px ;
    cursor: pointer;
    display: inline-block;
    
    width: 1000px;
    height:500px;
}

.row1 img{
    width: 100%;
    
    border-radius: 8px;
    
    text-align: center;
    margin-bottom: 80px;
    object-fit: contain;
}
.row2 img{
    width: 100%;
    
    border-radius: 8px;
    display: block;
    text-align: center;
    margin-bottom: 25px;
    object-fit: contain;
}
.row3 img{
    width: 100%;
    
    border-radius: 8px;
    display: block;
    text-align: center;
    margin-bottom: 100px;
    object-fit: contain;
}

.layer{
    font-size: larger;
    
}

#myproject{
    margin-bottom: 80px;
}



.contact-text h2{
    font-size: 90px;
    line-height: 1;
    text-align: center;
}

.contact-text h2 span{
    color: #0ef;
}

.contact-text h4{
    margin: 15px 0;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.contact-text p{
    color:#fff;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}

.contact-list {
    margin-bottom: 3rem;
    margin-top: 100px;
    margin-bottom: 20px;
}

.contact-list li{
    margin-bottom: 10px;
    display: block;
}

.contact-list li{
    margin-bottom: 10px;
    display: block;
}

.contact-list i{
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
}

.contact-list li a:hover{
    color: #0ef;
}

.contact-icons i{
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef; 
}

.contact-icons i:hover{
    background: #0ef;
    color: #000;
    box-shadow:  0 0 20px #0ef;
}

.contact-form form{
    position: relative;
}

.contact-form form input,form textarea{
    border: none;
    outline: none;
    width: 90%;
    background: #555557;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

.contact-form textarea{
    resize: none;
    height: 220px;
}

.contact-form form .send{
    display: inline-block;
    padding: 12px 20px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}


@keyframes slideleft {
    0% {
     transform: translateX(100px);
     opacity: 0;
    }
    100% {
     transform: translate(0px);
     opacity: 1;
    }  
 }

@keyframes slidetop {
    0%{
     transform: translateY(100px);
     opacity: 0;
    }
    100%{
     transform: translate(0px);
     opacity: 1;
    }  
 }

 @keyframes slidebottom {
    0%{
     transform: translateX(-100px);
     opacity: 0;
    }
    100%{
     transform: translate(0px);
     opacity: 1;
    }  
 }

 #workme{
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
 }

 .img1{
    height: 130px;
    width: 130px;
    margin-left: 70px;
 }

 .row1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
 }

 .text101{
    color: #fff;
 }

 .home101{
    display: flex;
 }

 #myphoto{
    height: 400px;
    width: 400px;
 }
 
 #contact101{
    text-align: center;
 }

 #myproject33{
    text-align: center;
 }
 .skill-box{
    display:flex;
    justify-content: space-between;
    align-items:center ;
    padding: 0% 8%;
 }
 .card-name{
 text-align: center;
 }

 .contactlist{
    display: flex;
 }

 #abdul{
text-align: center;
 }

 .newrow{
    display: flex;
    justify-content: center;
 }

 .projectimg{
    height: 300px;
    width: 300px;
    padding: 20px;
    
 }

 .project{
    
 }
